@using EnumHelper_Test.Models;

@model Student
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("SubmitAction", "Home"))
{
    <div>
        @Html.LabelFor(x=>x.PersonalInfo.Name)
    </div>
    <div>
        @Html.TextBoxFor(x=>x.PersonalInfo.Name)
    </div>
    
    <div>
        @Html.LabelFor(x => x.PersonalInfo.Gender)
    </div>
    <div>
        @Html.EnumDropDownListFor(x => x.PersonalInfo.Gender)
    </div>
    
    <div>
        @Html.LabelFor(x=>x.AttendedCourses)
    </div>
    <div>
        @Html.EnumListBoxFor(x => x.AttendedCourses.InsertItems(0, new EnumItem(EnumHelper_Test.Controllers.HomeController.ALL_COUSES_ID,"All Courses")),
                new { size = 8 }
        )
    </div>
    
    <button type="submit">Submit</button>
}